@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css');
@import url('https://use.fontawesome.com/releases/v5.0.6/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Varela+Round');
@import url('https://fonts.googleapis.com/css?family=Varela');

body {
	background-color: #fff;
	overflow: hidden;
    font-family: 'Varela Round', sans-serif;
}

p {
    position: relative;
    color: #191A27;
    opacity: .75;
    top: -6em;
    z-index: 1;
    padding: 0 7.5%;
    font-size: 1.5rem;
    line-height: 1.5em;
}

aside {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    display: block;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, rgba($color: #000000, $alpha: .6), rgba($color: #000000, $alpha: .75));
}

section {
    position: absolute;
    z-index: 3;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 40em;
    height: 45em;
    display: block;
    background: linear-gradient(to bottom, #222, #191919);
    box-shadow: 0 0 20px 20px rgba($color: #000000, $alpha: .1);
}